:root {
  /* --point-color: rgba(255, 105, 180, 0.8); */
  --point-color-a: 0, 128, 0;
  --opacity-vol: 0.5;
  --transition-time: 0.5s;
  --black-color: 0, 0, 0;
  --white-color: 255, 255, 255;

  /* lightness, chroma, hue*/
  --point-lch1: lch(10% 10 180);
  --point-lch2: 50% 100 100;
}

/*
  웹에서의 색상 표현 방식
  - rgb(빛의 삼원색, red, green, blue)
  - 가산혼합방식: 색상이 겹칠수록 더 밝아지는 개념
  - 각 색깔별 허용치 (0~255)
  - rbga를 쓰면 마지막 alpha값 이용해 투명도 조절 가능
*/

html {
  font-size: 16px;
  background-color: rgba(var(--black-color), 0.5);
}
* {
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-family: 'Noto Sans KR';
}
a {
  font-family: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  object-fit: cover;
  /* object-fit: contain; */
  width: 100%;
  height: 100%;
}
/*
  margin: 0px auto; 블록요소 자체를 가운데 배치
  text-align: center; 블록요소 안쪽의 인라인요소를 가운데 배치
*/
article {
  width: 200px;
  height: 200px;
  background-color: rgba(var(--point-color-a), 0.4);
  margin: 50px auto;
  text-align: center;
}
article span {
  font-size: 2rem;
}
