@use 'variable';
.join {
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    width: 30%;
    text-align: right;
  }

  article {
    width: 65%;
    text-align: left;
    margin-bottom: 50px;

    h2 {
      font-size: 1.2rem;
    }

    p {
      margin-bottom: 20px;

      input[type='text'],
      input[type='password'],
      select {
        width: 60% !important;
      }
    }

    textarea {
      width: 60% !important;
    }
  }
}

// tablet
@media screen and (max-width: variable.$wid_tablet) {
  .join {
    flex-wrap: wrap;

    h1 {
      width: 100%;
      text-align: left;
      margin-bottom: 50px;
    }

    article {
      width: 100%;
    }
  }
}

// m.p
// @media screen and (max-width: variable.$wid_mp) {
// }
